.header {
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #ffffff;
  border-bottom: 2px solid #f0f2f5;
}

.logo {
  display: flex;
  font-size: 2rem;
  color: black;
  height: 3rem;
  margin-left: 3rem;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 100%;
  padding-right: 0.5rem;
}

.nav {
  margin-right: 3rem;
}

.nav ul {
  list-style: none;
  display: flex;
  /* margin: 10rem; */
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: black;
}

.logo:hover,
.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e48900;
}
