html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Apercu, sans-serif;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
